@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #8d8d8d;
    margin: 0;
    font-family: 'Lato',sans-serif;
    min-height: 100vh;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    width: 400px;
    background-color: #b3b3b3;
    box-shadow: 2px 2px 2px 5px rgba(0,0,0,0.4);
    
}

.row h1{
    display: block;
    width: 100%;
    text-align: center;
}

.drum-pad{
    background: grey;
    border: 2px solid #333;
    border-radius: 4px;
    display: flex;
    box-shadow: 2px 2px 2px 5px rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 60px;
}

.drum-pad.active{
    opacity: 0.8;
    transform: scale(0.98);
}

